{% extends "layout.html" %}

{% block main %}
    {% if data_file %}
        <h4>{{ data_file.title }} ({{ data_file.uploaded_file }})</h4>
    {% endif %}    
    <form id="questionForm" data-base-action="{% url 'adviser:gpt_base' %}" method="post">
        {% csrf_token %}
            <input type="hidden" id="firstQuestion" name="firstQuestion" value="{{ firstQuestion }}">
            <input type="hidden" id="loadAll" name="loadAll" value="{{ loadAll }}">
            {% if data_file %}    
                <input type="hidden" id="documentId" name="documentId" value="{{ data_file.id }}">
            {% endif %}
            <input type="text" class="form-control" id="question" name="question" placeholder="Enter your question">
            <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}