:root {
    --bs-primary: #30E3CA;
    --bs-secondary: #E4F9F5;
    --bs-info: #11999E;
    --bs-danger: #40514E;
}

html {
    height: 100%;
}

body {
    background-color: var(--bs-secondary);
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex: 1;
}

h1, h2 {
    color: var(--bs-danger);
}

.btn-primary {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

.btn-primary:hover {
    background-color: var(--bs-info);
    border-color: var(--bs-info);
}

.form-control {
    background-color: #fff;
    border: 2px solid var(--bs-info);
    margin: 10px 0;
    width: 25%;
    display: inline-block;
    border-radius: .25rem; /* Rounded corners */
}

.form-select {
    background-color: #fff;
    border: 2px solid var(--bs-info);
    margin: 10px 0;
    width: 50%;
    display: inline-block;
}

.form-select:focus {
    border-color: var(--bs-primary); /* Change border color on focus */
    box-shadow: 0 0 0 .25rem rgba(48, 227, 202, .25); /* Glow effect on focus */
}

a, a:hover {
    color: var(--bs-danger);
}

footer {
    background-color: var(--bs-primary);
    color: var(--bs-danger);
}